name: Parse FFXIV Jobs

on: workflow_dispatch

jobs:
  parse:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'
    
    # Устанавливаем без создания package-lock.json
    - run: npm ci --no-package-lock
    
    - run: node parser.js
    
    - run: |
        git config --global user.name 'GitHub Actions'
        git config --global user.email 'actions@github.com'
        git add data/
        git diff --staged --quiet || (git commit -m "Update FFXIV data" && git push)