name: Parse Jobs DB

on: workflow_dispatch

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install --no-package-lock

      - name: Run scraper
        run: npm start

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git fetch origin main
          git checkout main
          # Добавляем файлы которые создает парсер
          git add data/
          # Или если нужны конкретные файлы
          # git add data/updates.json
          # git add data/updates.csv
          git diff --cached --quiet && exit 0
          git commit -m "Update FFXIV job data"
          git push