name: Parse FFXIV Skills

on: workflow_dispatch

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Run parser
        run: node index.js

      - name: Get formatted date
        id: date
        run: |
          FORMATTED_DATE=$(date '+%d.%m.%Y')
          echo "formatted_date=$FORMATTED_DATE" >> $GITHUB_OUTPUT
          echo "Date: $FORMATTED_DATE"

      - name: Commit if changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add data/UpdateFlags.json
          git diff --cached --quiet || (git commit -m "Update Skill Flags [${{ steps.date.outputs.formatted_date }}]" && git push)
